<h1>List All posts</h1>

<div class="mat-card-container">
  <mat-card
    class="mat-elevation-z4 card"
    *ngFor="let post of posts; let i = index"
    [@cardAnimation]="{ value: '', params: { delay: i * 500 } }"
  >
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-chip-set
        aria-label="categories"
        cdkDropList
        cdkDropListOrientation="horizontal"
      >
        <mat-chip
          *ngFor="let category of post.categories"
          [ngStyle]="{ 'background-color': category.css_color }"
        >
          {{ category.title }}
        </mat-chip>
      </mat-chip-set>
      <p>
        <b>Description</b>: {{ post.description }} <br />
        <b>Likes</b>: {{ post.num_likes }}<br />
        <b>Dislikes</b>: {{ post.num_dislikes }}<br />
        <b>Publication date</b>: {{ post.publication_date | formatDate : 3
        }}<br />
        <b>Published by</b>: {{ post.userAlias }}
      </p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions *ngIf="showButtons">
      <button mat-button (click)="like(post.postId)">Like</button>
      <button mat-button (click)="dislike(post.postId)">Dislike</button>
    </mat-card-actions>
  </mat-card>
</div>
