<h2>Post List</h2>
<button mat-flat-button color="primary" (click)="createPost()">ADD</button>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="posts" class="full-width-table">
    <ng-container matColumnDef="postId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let post">{{ post.postId }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let post">{{ post.title }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let post">{{ post.description }}</td>
    </ng-container>

    <ng-container matColumnDef="num_likes">
      <th mat-header-cell *matHeaderCellDef>Num Likes</th>
      <td mat-cell *matCellDef="let post">{{ post.num_likes }}</td>
    </ng-container>

    <ng-container matColumnDef="num_dislikes">
      <th mat-header-cell *matHeaderCellDef>Num Dislikes</th>
      <td mat-cell *matCellDef="let post">{{ post.num_dislikes }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let post">
        <button mat-button (click)="updatePost(post.postId)">
          <i class="fas fa-edit"></i>
        </button>
        <button mat-button (click)="deletePost(post.postId)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
